/.metadata/
/**/build
/**/target
/**/.slang
/**/*.merged
**/.metals/
**/.vscode/
**/.cache/
**/.idea/
**/.bloop/
**/.settings/
**/.scala-build/
**/__pycache__/
**/out/
**/target/
**/.claude/
**/.aadlbin-gen
compile_commands.json
sysml-aadl-libraries
.DS_Store
*.aaxl2
**/microkit.system.merged